.navigationItem {
	display: flex;
	align-items: center;
	text-decoration: none;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	span {
		position: relative;
		width: 40px;
		height: 40px;
		margin-right: 12px;
		border-radius: 4px;
		transition: 0.2s ease-out;

		&::after {
			content: '';
			display: inline-block;
			mask-size: 24px 24px;
			width: 24px;
			height: 24px;
			background-color: $white;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			opacity: 0.6;
			transition: 0.2s ease-in-out;
		}

		&.home::after {
			mask-image: url('../../../assets/icons-new/home.svg');
		}

		&.writings::after {
			mask-image: url('../../../assets/icons-new/writings.svg');
		}

		&.about::after {
			mask-image: url('../../../assets/icons-new/about.svg');
		}

		&.bookmarks::after {
			mask-image: url('../../../assets/icons-new/bookmarks.svg');
		}
	}

	p {
		@include paragraph;
		line-height: 1.6rem;
		color: $white;
		opacity: 0.7;
		transition: 0.2s ease-in-out;
		user-select: none;
	}

	@include min(981px) {
		&:hover {
			span {
				&::after {
					opacity: 1;
				}
			}

			p {
				opacity: 1;
			}
		}
	}

	&.active {
		pointer-events: none;
		span {
			background-color: $primaryBlue;
			margin-right: 20px;
			@include max(980px) {
				background-color: transparent;
			}

			&::after {
				opacity: 1;
				@include max(980px) {
					background-color: $primaryBlue;
				}
			}
		}

		p {
			opacity: 1;
		}
	}
}
