.navigationItem {
	display: flex;
	align-items: center;
	text-decoration: none;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	span {
		position: relative;
		width: 40px;
		height: 40px;
		margin-right: 12px;
		border-radius: 4px;
		transition: 0.2s ease-in-out;

		&::after {
			content: '';
			display: inline-block;
			mask-size: 20px 20px;
			width: 20px;
			height: 20px;
			background-color: $white;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			opacity: 0.6;
		}

		&.home::after {
			mask-image: url('../../../assets/icons/home.svg');
			mask-size: 20px 19px;
			height: 19px;
		}

		&.writings::after {
			mask-image: url('../../../assets/icons/edit.svg');
		}

		&.about::after {
			mask-image: url('../../../assets/icons/message.svg');
		}
	}

	p {
		@include paragraph;
		line-height: 1.6rem;
		color: $white;
		opacity: 0.7;
		transition: 0.2s ease-in-out;
	}

	&.active {
		span {
			background-color: $primaryBlue;
			margin-right: 30px;
			@include max(980px) {
				background-color: transparent;
			}

			&::after {
				opacity: 1;
				background-color: $primaryBlue;
			}
		}

		p {
			opacity: 1;
		}
	}
}
