.socialButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background-color: $darkGrey;
	transition: background-color 0.2s ease-in-out;

	&:not(:last-child) {
		margin-right: 10px;
	}

	span {
		display: inline-block;
		mask-size: 24px 24px;
		height: 24px;
		width: 24px;
		background-color: $white;
		opacity: 0.6;

		&.github {
			mask-image: url('../../../assets/icons-new/github.svg');
		}

		&.goodreads {
			mask-image: url('../../../assets/icons-new/goodreads.svg');
		}

		&.youtube {
			mask-image: url('../../../assets/icons-new/youtube.svg');
		}

		&.mail {
			mask-image: url('../../../assets/icons-new/mail.svg');
		}

		&.instagram {
			mask-image: url('../../../assets/icons-new/instagram.svg');
		}
	}

	&:active {
		transform: scale(0.97);
	}

	@include min(981px) {
		&:hover {
			background-color: $primaryBlue;

			span {
				opacity: 1;
			}
		}
	}
}
