.filters {
	display: flex;
	flex-direction: column;

	.filter {
		display: flex;
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 15px;

			@include max(600px) {
				margin-bottom: 25px;
			}
		}
	}

	.tags {
		margin-top: -4px;

		& > *:not(:last-child) {
			margin-right: 10px;
		}
	}
}
