.spacer {
	display: block;
	height: 10px;

	&.small {
		height: 3px;
	}

	&.medium {
		height: 20px;
	}

	&.large {
		height: 40px;
	}

	&.huge {
		height: 80px;
	}

	&.top {
		height: 120px;

		@include max(980px) {
			height: 60px;
		}
	}
}
