.metaInfo {
	display: flex;
	align-items: flex-start;
	min-height: 20px;

	@include max(600px) {
		flex-direction: column;
	}

	.label {
		@include pill;
		color: $text;
		min-width: 70px;
	}

	.separator {
		display: inline-block;
		width: 1px;
		height: 14px;
		background-color: $primaryBlue;
		margin: 0 20px 0 10px;
		min-width: 1px;

		@include max(600px) {
			display: none;
		}
	}

	.value {
		@include pill;
		color: $white;
		font-weight: 600;

		@include max(600px) {
			margin-top: 15px;
		}
	}

	.children {
		margin-top: -10px;

		@include max(600px) {
			margin-top: 10px;
		}
	}

	&.centered {
		align-items: center;
	}
}
