.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 + * {
		margin-left: 20px;
	}

	&.tag {
		justify-content: initial;
		h1:first-child {
			color: $text;
		}

		h1 + * {
			margin: 0 10px;
		}

		span {
			width: 2px;
			height: 24px;
			background-color: $primaryBlue;
			position: relative;
			top: 1px;
		}
	}

	&.bookmark {
		justify-content: flex-start;

		p {
			@include pill;
			color: $text;
			margin-right: 10px;
		}

		span {
			width: 1px;
			height: 14px;
			background-color: $primaryBlue;
			margin-right: 20px;
		}

		span + p {
			@include pill;
			color: $white;
			font-weight: 600;
		}
	}
}
