.container {
	max-width: 940px;
	width: 100%;
	padding: 120px 0;
	display: grid;
	grid-template-columns: 260px 560px;
	grid-column-gap: 120px;

	@include max(980px) {
		max-width: 980px;
		padding: 40px 20px;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}
