.container {
	max-width: 940px;
	width: 100%;
	padding: 120px 0;
	display: grid;
	grid-template-columns: 260px 560px;
	grid-column-gap: 120px;

	@include max(1000px) {
		max-width: 1000px;
		padding: 60px 30px;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
}
