.navigationWrapper {
	display: flex;
	flex-direction: column;
	@include max(1000px) {
		position: fixed;
		top: 100%;
		width: calc(100% - 60px);
		left: 50%;
		transform: translateX(-50%);
	}

	.navigation {
		display: flex;
		flex-direction: column;
		padding: 10px 20px;
		background-color: $darkGrey;
		border-radius: 4px 16px 4px 16px;
	}

	.social {
		align-self: flex-end;
		display: flex;
		margin-top: 10px;
	}
}
