.navigationWrapper {
	display: flex;
	flex-direction: column;

	.navigation {
		display: flex;
		flex-direction: column;
		padding: 10px 20px;
		background-color: $darkGrey;
		border-radius: 4px 16px 4px 16px;
	}

	.social {
		align-self: flex-end;
		display: flex;
		margin-top: 10px;
	}
}
