.contentWrapper {
	padding: 120px 0;
	height: 100%;

	@include min(981px) {
		display: flex;
		align-items: center;
	}

	@include max(980px) {
		padding: 60px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 100vh;
	}

	.content {
		position: relative;

		@include max(980px) {
			max-width: 560px;
			width: 100%;
		}
	}
}
