.contentWrapper {
	padding: 0 0 120px;
	height: 100%;

	@include min(981px) {
		display: flex;
		align-items: center;
	}

	@include max(980px) {
		padding: 0 0 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		min-height: 100vh;
	}

	.content {
		position: relative;

		@include max(980px) {
			max-width: 560px;
			width: 100%;
		}
	}
}
