.writings {
	.heading {
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
	}

	.writing {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 18px;
		}

		.rectangle {
			width: 16px;
			height: auto;
			display: inline-block;
			border-radius: 4px;
			background-color: $darkGrey;
			margin-right: 10px;
			transition: 0.2s ease-in-out;
		}

		.content {
			margin: 4px 0;
			.languageAndDate {
				display: flex;
				align-items: center;
				margin-bottom: 5px;

				p {
					@include date;
				}
			}

			.title {
				@include secondaryHeading;
				text-decoration: none;
				color: $primaryBlue;
				display: block;

				span {
					@include secondaryParagraph;
					display: block;
					transition: 0.2s ease-in-out;
				}
			}

			.tags {
				& > *:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

		@include min(981px) {
			&:hover {
				.rectangle {
					background-color: $lightGrey;
				}
			}

			.content {
				.title:hover {
					span {
						color: $white;
					}
				}
			}
		}
	}
}
