@use './tokens' as *;

@mixin min($min) {
	@media screen and (min-width: $min) {
		@content;
	}
}

@mixin max($max) {
	@media screen and (max-width: $max) {
		@content;
	}
}

@mixin minmax($min, $max) {
	@media screen and (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin heading {
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 3.5rem;
	letter-spacing: -0.2px;
	color: $white;
	& > a {
		font-weight: 600;
		color: $primaryBlue;
		text-decoration: none;
	}
}

@mixin secondaryHeading {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.3rem;
	letter-spacing: 0.5px;
	color: $white;
}

@mixin buttonLabel {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.6rem;
	text-decoration: none;
}

@mixin paragraph {
	font-size: 1.6rem;
	line-height: 3.2rem;
	& > a {
		font-weight: 600;
		color: $primaryBlue;
		text-decoration: none;
	}
}

@mixin pill {
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: 600;
	text-decoration: none;
}

@mixin largePill {
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 400;
}

@mixin date {
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 600;
}

@mixin secondaryParagraph {
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: $text;
	font-weight: 400;
}
