$black: #050508;
$white: #ffffff;
$whiteOverLightGrey: #cfcfcf;

$primaryBlue: #146eff;
$secondaryBlue: #8c8caf;

$darkGrey: #141417;
$lightGrey: #3c3c45;

$text: #9494c2;

$spacing01: 10px;
$spacing02: 20px;
$spacing03: 40px;
$spacing04: 60px;
$spacing05: 120px;
